.wrapper {
    position: relative;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .hypecard {
    background: linear-gradient(hsla(240, 14%, 11%, 0.83) , transparent);
    backdrop-filter: blur(8px);
    width: 14rem;
    border: 2px solid hsla(0, 0%, 25%, 0.83);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding-top: 3rem;
}

.wrapper .lighter {
    width: 7rem;
    height: 40px;
    border-radius: 3px 3px 25px 25px;
    position: absolute;
    z-index: 1;
    top: -4px
}

.wrapper .lighter::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
    
}

.wrapper .hypecard .subtitle {
    font-weight: 800;
    size: 1.2rem;
    color: #ACACAC;
    margin-bottom: 1.5rem;
}

.wrapper .hypecard .desc {
    color: #a5a5a5;
    width: 100%;
    text-align: center;
}

.wrapper .hypecard .count {
    font-family: "Michroma" !important;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3rem;
}

.wrapper .hypecard .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.546);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 4px currentColor;
}

.wrapper .hypecard .icon svg {
    fill: inherit !important;
}