@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Rubik+Glitch&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  --purple: #50379b;
  --pink: #8721b7;
  --dark-purple: #241d42;
  --sky: #26eff9;
  --grey: #d9d9d9;
  --darkblue: #2d76ff;
  --white: #fff;
  --offwhite: #ffffffc9;

  --app-background: #0e0e1c;
  --app-width: 1400px;
  --navbar-height: 4rem;

  --btn-gradient: linear-gradient(90deg, #72d5ff 0%, #c72dff 100%);
  --sponsor-title-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  --footer-background: linear-gradient(
    to right,
    rgba(217, 217, 217, 0.12) 0%,
    rgba(115, 115, 115, 0.1) 100%
  );
}

body,
html {
  font-family: 'Inter', sans-serif;
  background-color: var(--app-background);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#root {
  width: 100%;
}

.instruo-content {
  /* margin-top: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruo-content > section {
  max-width: 1200px;
}

a,
a::selection {
  text-decoration: none;
  text-transform: none;
  outline: none;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: var(--app-background);
}

*::-webkit-scrollbar-thumb {
  width: 5px !important;
  border-radius: 10px;
  background: var(--purple);
}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
  display: none;
}

.gradient-color {
  background: linear-gradient(120deg, var(--pink), var(--sky));
  background-clip: text;
  -webkit-background-clip: text !important;
  color: transparent;
  font-weight: bolder;
}
.gradient-bw {
  background: linear-gradient(90deg, var(--grey), #fff);
  background-clip: text;
  -webkit-background-clip: text !important;
  color: transparent;
  font-weight: bolder;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  font-family: 'Rubik Glitch', cursive;
  font-weight: normal !important;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif !important;
  text-decoration: none !important;
  text-transform: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik Glitch', cursive;
  font-weight: 100;
}
