.merch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  /* min-height: 100vh; */
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 8rem;
}

.merch .hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 4rem;
  position: relative;
}

.merch .hero-section .banner {
  background: url('/assets/Merch/merch-banner.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.2;  
}

.merch .hero-section p {
  width: max(60%, 20rem);
  text-align: center;
  color: #ffffff;
  padding: 2rem 0;
}
.merch .poster {
  background: url('/assets/Merch/merch.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70vw;
  height: 60vw;
}
