.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;;
    color: #fff
}

.about-us .heading {
    font-size: 4rem;
    font-family: 'Rubik Glitch', cursive;
    
}

.about-us .instruo14 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: min(1200px, 100%);
    padding: 0.5rem
}

.about-us .instruo14 .dbox {
    padding: 0.5rem;
    width: 100%;
    /* outline: 1px solid lime; */
}

.about-us .instruo14 .dbox h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.about-us .instruo14 .dbox p {
    color: #ffffff73
}

.about-us .instruo14 .dbox[spanner="instruo"] {
    grid-column: span 3;
}

.about-us .instruo14 .dbox[spanner="instruo2"] {
    width: 100%;
    outline: 1px solid color;
}

.about-us .instruo14 .dbox[spanner="instruo2"] h2 {
    font-size: 1.4rem;
}

.about-us .college {
    padding: 1rem;
    width: min(1200px, 100%);
    margin-top: 2rem;
}

.about-us .college h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.about-us .college p {
    color: #ffffff73;
}