.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    min-height: 300px;
    margin-top: 2rem;
}

.timer .heading {
    font-family: 'Rubik Glitch', cursive;
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.timer .countdown {
    display: flex;
    gap: 0.3rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.timer .countdown .box {
    width: 180px;
    background-color: hsla(0, 0%, 100%, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.4rem 0.7rem;
    gap: 0.2rem;
}

.timer .countdown .box .time {
    font-family: 'Michroma', sans-serif;
    font-size: 5rem;
}

.timer .countdown .box .label {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: var(--offwhite);
}

@media only screen and (max-width: 500px) {
    .timer .heading {
        font-size: 3rem;
    }
}