.member {
    width: 12rem;
    height: 12rem;
    mask-image: url("/assets/hexfilled.svg");
    mask-size: contain;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: 1px solid lime;
}

.member img::selection {
    background-color: transparent !important;
}

.member img {
    width: 100%;
    height: 100%;
    mask-image: url("/assets/hexfilled.svg");
    mask-size: contain;
}

.member .info {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    padding: 0.5rem;
    text-align: center;
}

.member:hover .info {
    left: 0;
}

.vanish img{
    opacity: 0 !important;
}

.vanish {
    background-color: #ffffff;
    border-radius: 1px solid #fff;
}

.member .fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: url("/assets/hexfilled.svg");
    mask-size: contain;
    object-fit: cover;
    z-index: -1;
}
