.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #fff;
  padding: 0 1rem;
  padding-top: 7rem;
}

.sponsors > * {
  z-index: 1;
}

.sponsors .publicise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(800px, 100%);
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 7rem);
}

.sponsors .publicise-bg {
  width: max(900px, 600px);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.sponsors .publicise-bg img {
  width: 100%;
}

.sponsors .publicise .heading,
.sponsors .past-sponsors .heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.4rem;
  text-shadow: 1px 1px 40px rgb(0, 0, 0);
}

.sponsors .past-sponsors .heading {
  font-size: 4rem;
}

.sponsors .publicise p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: min(65ch, 100%);
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 40px rgb(0, 0, 0);
}

.sponsors .publicise button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.sponsors .past-sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.sponsors .past-sponsors .fbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
  max-width: 1200px;
}

.sponsors .past-sponsors .fbox .item {
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.sponsors .past-sponsors .fbox .item:hover {
  transform: scale(1.02);
}

.sponsors .past-sponsors .fbox .item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 420px) {
  .sponsors .past-sponsors .fbox {
    gap: 0.3rem;
  }

  .sponsors .past-sponsors .fbox .item {
    width: 160px;
    height: 90px;
  }
}
