.instruo-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    position: relative;
    color: #fff
}

.instruo-team .team-bg {
  width: max(900px, 600px);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.instruo-team .team-bg img {
  width: 100%;
  opacity: 0.8;
}

.instruo-team .heading span {
    font-family: 'Rubik Glitch', cursive;
    transform: scaleY(1.2);
    font-weight: 100;
}

.instruo-team p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: min(65ch, 100%);
    text-align: center;
    margin: 1rem 0 3rem 0;
}

.instruo-team > .heading {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    max-width: 16ch;
    line-height: 3rem;
}

.instruo-team .accordion {
    width: min(calc(100vw - 2rem), 1000px);
    /* padding: 1rem; */
}

.instruo-team .ant-collapse-item {
    background-color: hsla(0, 0%, 0%, 0.5);
    border: 2px solid hsla(0, 0%, 100%, 0.13);
    margin-bottom: 10px;
}

.ant-collapse-header {
    background: linear-gradient(#fff, #ffffff6e);
    background-clip: text;
    color: transparent !important;
    font-size: 1.5rem;
    font-weight: 600;
    fill: #fff !important;
}

.accordion-icon svg {
    fill: #fff !important;
    color: #fff !important;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
}

.instruo-team > * {
    position: relative;
    z-index: 6;
}

.instruo-team .heads {
    background: hsla(0, 0%, 0%, 0.77);
    width: min(calc(100vw - 2rem), 1000px);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    border: 2px solid hsla(0, 0%, 100%, 0.13);
    margin-bottom: 2rem;
    position: relative;
    z-index: 4;
}

.instruo-team .team-asset-1 {
    position: absolute;
    width: 90%;
    top: -7rem;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    min-width: 880px;
    overflow: hidden;
}   

.instruo-team .team-asset-2 {
    position: absolute;
    width: 100%;
    height: 2000px;
    top: 0;
    z-index: -100;
    left: 50%;
    transform: translateX(-50%);
    min-width: 880px;
    overflow: hidden;
}   
