.instruo-navmenu .ant-menu-item-selected {
    background: transparent !important;
}

.instruo-navmenu .ant-menu-item-selected::after {
    width: 80%;
    height: 3px;
    background-color: #26eff9;
    box-shadow: 0 -10px 30px 3px #26eff9;
    border-radius: 2px;
    /* top: 0 !important; */
    transition: all 0.5s !important;

    position:absolute;
    right: -10px;
    bottom: 0;
}

.menu-open-button {
    padding: 0.3rem;
    color: "#fff";
    font-weight: 700;
    font-size: 1rem;
    position: fixed;
    top: 1.2rem;
    left: 1.2rem;
    border-radius: 3px;
}

.menu-open-button:hover {
    background-color: #ffffff4b !important;
    transition: all 0.2s;
}
